


$font-family: 'Clash Display', sans-serif;
$font-light: 300;
$font-normal: normal;
$font-medium: 500;
$font-semibold: 600;


$white: #ffffff;
$black: #000000;
$dark: #14141D;
$grey: #B9B9BA;
$green: #2D7669;
$border: #CDCDCD;
$boder-blue: #435F7B;


$desktop: 1920px;
$desktop-sm: 1368px;
$tablet-h: 1024px;
$tablet-v: 768px;
$phone: 648px;
