
@import "../base/base";

footer {
    background-color: black;
    height: 50vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -5rem;
    span {
        font-size: 3vw;
    color: $white;

    }

    .footercontent {
        margin-top: 20rem;
    }
}

