
@import "../base/_base";

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0;

  .menu {
    width: 10rem;
    display: flex;
  }

  a {
    font-size: clamp(1.8rem, 12vw, 2.2rem);
    font-weight: $font-medium;
    color: $dark;
  }

  .cart {
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .count {
      width: 4rem;
      height: 4rem;
      border-radius: 1rem;
      background: $dark;
      font-size: 1.6rem;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: .8rem;
    }
    
  }
}