
@import "../base/_base";

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 2vw;

  * {
    will-change: transform;
  }

  .menu {
    ul {
      display: flex;
      li {
        display: flex;
        align-items: center;
        margin: 0 2rem;
        a {
          display: flex;
          align-items: center;
          font-size: 2.4rem;
          cursor: pointer;
          svg {
            margin-right: 1rem;

            stroke: .8rem;
          }
        }
      }
    }
  }

  a {
    font-size: clamp(1.8rem, 12vw, 2.2rem);
    font-weight: $font-medium;
    color: $dark;
  }

  .cart {
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .count {
      width: 4rem;
      height: 4rem;
      border-radius: 1rem;
      background: $dark;
      font-size: 1.6rem;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: .8rem;
    }
    
  }
}

.side-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($dark, .40);
  }

  .menu-title {
    font-size: 6rem;
    color: $dark;
    font-weight: $font-medium;
    margin-bottom: 5rem;
    overflow: hidden;
    margin-left: 5vw;
    opacity: 0;
  }

  .menu-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: $white;
    z-index: 100;
    transform: translateX(500%);
    padding: 0 5vw;
  
    .menu-close {
      cursor: pointer;
      position: absolute;
      top: 4rem;
      left: 5vw;
      font-size: 1.8rem;
      font-weight: $font-medium;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        margin-right: .5rem;
      }
      
    }
  }
  
  .menu-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    .menu-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100px;
      overflow: hidden;
      cursor: pointer;
      font-weight: lighter;

      .menu-item-name {
        color: $dark;
        font-size: 4rem;
        font-weight: $font-medium;
      }
    }

    .line {
      width: 100%;
      height: .1rem;
      transform-origin: left;
      overflow: hidden;
      background: rgba($dark, .40);
    }
  }

  .menu-items-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
    margin-left: 10%;
    margin-right: 20%;
  }

  span {
    overflow: hidden;
  }
  
}

