@import "../fonts";
@import "../base/_base";
@import "../common/_buttons";
@import "../common/_typography";
@import "../nav/_header";

body,
html {
    font-family: $font-family;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    list-style: none;
    box-shadow: none;
}

img {
    width: 100%;
    vertical-align: middle;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background: #F6F6F6;

    &::-webkit-scrollbar {
        width: 0;
    }

    &::-webkit-scrollbar-track {
        background-color: #000000;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #555555;
    }

    &::-webkit-scrollbar-button {
        background-color: #000000;
        background-image: url();
    }

    &::-webkit-scrollbar-button:vertical:increment {
        background-position: -64px -16px;
    }

    &::-webkit-scrollbar-button:vertical:decrement {
        background-position: 0 -16px;
    }

    &::-webkit-scrollbar-button:horizontal:increment {
        background-position: -32px -16px;
    }

    &::-webkit-scrollbar-button:horizontal:decrement {
        background-position: -96px -16px;
    }

    &::-webkit-scrollbar-corner {
        background-color: #000000;
    }
}

#smoother-content {
    will-change: transform;
}


.swiper-button-next,
.swiper-button-prev {
    width: 6rem !important;
    height: 6rem !important;
    background: $white;
    border-radius: 2rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border: solid $dark .1rem;

    &::after {
        display: none;
    }
}


.cart-content {
    max-width: 140rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    h6 {
        text-align: center;
    }

    .content {
        display: flex;
        justify-content: space-between;

        .head {
            font-size: 2.2rem;
            font-weight: $font-semibold;
            display: flex;
        }

        .cart-list {
            width: 100%;
            
            .list-item {
                display: flex;
                figure {
                    width: 15rem;
                    height: 15rem;
                    border-radius: 1.4rem;
                    overflow:hidden;
                    position: relative;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        object-fit: cover;
                    }
                }

                .product-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-left: 6rem;
                    width: 100%;

                    .product-name {
                        font-size: 4rem;
                        font-weight: $font-medium;
                    }

                    .product-data {
                        display: flex;
                        justify-content: space-between;

                        .item {
                            display: flex;
                            align-items: center;
                            margin-top: .5rem;

                            span {
                                font-size: 1.8rem;
                                font-weight: $font-medium;
                            }
                        }

                        .color {
                            width: 3rem;
                            height: 3rem;
                            border-radius: 1rem;
                            margin-right: 1rem;
                        }
                    }

                    .qty-item {
                        display: flex;

                        button {
                            width: 3rem;
                            height: 3rem;
                            background: none;
                            border: solid $dark .1rem;
                            border-radius: 1rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                        }

                        input {
                            width: 6rem;
                            background: none;
                            text-align: center;
                            font-size: 1.8rem;
                            font-weight: $font-semibold;
                            font-family: 'Clash Display', sans-serif;
                            letter-spacing: .2rem;
                        }
                    }

                }
            }
        }

        .cart-summary {
            width: 50rem;
            margin-left: 10rem;

            .summary {
                width: 100%;
                padding: 4rem;
                border-radius: 1rem;
                background: $white;
            }

            .head {
                margin-bottom: 4rem;
            }

            .list {
                display: flex;
                flex-direction: column;

                .items {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    .item {
                        display: flex;
                        flex-direction: column;

                        span {
                            font-size: 1.8rem;
                            margin: 0;

                            strong {
                                font-weight: $font-medium;
                            }
                        }
                        
                        .product-name {
                            font-size: 2.2rem;
                            font-weight: $font-medium;
                            margin-bottom: .5rem;
                        }

                        small {
                            font-size: 1.4rem;
                            margin: 0;
                        }
                    }
                }

                hr {
                    display: flex;
                    width: 100%;
                    height: .1rem;
                    background: rgba($dark, .20);
                    margin: 2rem 0;
                }
            }

            .button {
                width: 100%;
                margin-top: 2rem;
            }
        }
    }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}