@import "../base_base";

.button {
    width: fit-content;
    height: 5.6rem;          
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:0 2rem;
    border-radius: 1rem;
    color: $white;
    font-weight: $font-medium;
    font-size: 2rem;
    cursor: pointer;
    @include fade-transition;

    &.primary {
        background: $dark;

        svg {
            fill: $white;
            margin-left: 1rem;
        }
    }

    &.light {
        background: $white;
        color: $dark;

        svg {
            fill: $dark;
            margin-left: 1rem;
        }
    }

    &.border {
        border: solid $dark .1rem;
        color: $dark;
        background: none;
        
        &:hover {
            border: solid $green .1rem;
            color: $green;
            @include fade-transition;
        }

        &.small {
            height: 3rem;
            font-size: 1.6rem;
            padding: 0 2rem;
        }
    }
}

