
@import "../base_base";
@import "components";


.split-line,
.split-parent,
.textanimated {
    overflow: hidden;
}

figure {
    position: relative;
    border-radius: 4rem;
    overflow: hidden;

    &.parallax {
        img {
            position: absolute;
            width: 100%;
            height: 140%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
}


.content {
    position: relative;

    .head {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 4rem;
    }
}

.card-items {
    display: flex;

   .item {
        display: flex;
        flex-direction: column;

        &:hover {
            @include fade-transition;

            i {
     
                .icon {
                    left: 0;
                }
            }
        }

        &:nth-child(even) {
            margin-top: 10rem;
        }

        figure {
            height: 70vh;
        }

        sup {
            font-size: 2rem;
            font-weight: $font-normal;
            color: $dark;
        }

        span {
            font-size: clamp(4rem, 12vw, 6rem);
            line-height: 1;
            font-weight: $font-medium;
            margin: 2rem 0;
        }

        i {
            width: 8rem;
            height: 8rem;
            background: $white;
            border-radius: 2rem;
            position: absolute;
            bottom: 2rem;
            right: 2rem;
            display: flex;
            overflow: hidden;

            .icon {
                width: 16rem;
                @include fade-transition;
                overflow: hidden;
                display: flex;
                position: absolute;
                left: -8rem;
                top: 0;

                .icon-item {
                    width: 8rem;
                    height: 8rem;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                svg {
                    fill: $dark;
                }
            }
        }
   }
}

.detail {
    margin-top: 4rem;
    display: flex;
    margin-bottom: 6rem;

    .image {
        width: 50%;

        figure {
            aspect-ratio: 1/1;
           
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
    }

    .info {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-left: 8rem;

        .product-name {
            font-size: clamp(6rem, 12vw, 8rem);
            line-height: 1;
            font-weight: $font-medium;
        }

        .product-code {
            font-size: clamp(2rem, 12vw, 2.8rem);
            line-height: 1;
            font-weight: $font-medium;
            margin-bottom: 4rem;
        }

        .product-options {
            display: flex;
            flex-direction: column;
            
            span {
                font-size: clamp(2rem, 12vw, 2.6rem);
                line-height: 1;
                font-weight: $font-normal;

                strong {
                    font-size: clamp(2rem, 12vw, 2.2rem);
                    font-weight: $font-semibold;
                    margin-top: 4rem;
                    margin-bottom: .5rem;
                    display: flex;
                }
            }
        }

        .colors {
            display: flex;
            .item {
                width: 4rem;
                height: 4rem;
                border-radius: 1rem;
                margin-right: 1rem;
            }
        }

        .button {
            margin-top: 4rem;
        }
    }
}

.gallery-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .head {
        padding: 8rem 0 2rem;
    }
}

.gallery {
    max-width: 140rem;
    width: 100%;
    margin: auto;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(12, 1fr);

    .item {
        position: relative;
        cursor: pointer;

        &:hover {
            .zoom-overlay {
                opacity: 1;
                visibility: visible;
            @include fade-transition;
            }
        }

        .zoom-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba($black, .40);
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            opacity: 0;
            @include fade-transition;
    
            i {
                width: 7rem;
                height: 7rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $white;
                border-radius: 2rem;
            }
        }

        figure {
            position: relative;
            overflow: hidden;
            height: 46rem;
            border-radius: 2rem;

            

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }

        &:nth-child(1) {
            grid-column: span 5;
        }
        &:nth-child(2) {
            grid-column: span 7;
            
        }
        &:nth-child(3) {
            grid-column: span 7;
            grid-row: span 2;

            figure {
                height: 100%;
            }
        }
        &:nth-child(4) {
            grid-column: span 5;
        }
        &:nth-child(5) {
            grid-column: span 5;
        }
    }

    .lightgallery {
        margin-left: 4rem;
    }
}

.lg-counter-all, .lg-counter-current {
    color: $white;
}

