@import "../base_base";

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
small {
    color: $dark;
}


h1 {
    font-size: clamp(8rem, 12vw, 14rem);
    font-weight: $font-medium;
    line-height: 1;

    @media only screen and (max-width: $tablet-h) {
        font-size: clamp(4rem, 12vw, 6rem);
        letter-spacing: -2.25px;
     }
}

h5 {
    font-size: clamp(8rem, 12vw, 14rem);
    line-height: 1;
    font-weight: $font-light;

    strong {
        font-weight: $font-normal;
    }
}

h6 {
    font-size: clamp(6rem, 12vw, 10rem);
    line-height: 1;
    font-weight: $font-medium;
}


h3 {
    font-size: clamp(2rem, 12vw, 3rem);
    line-height: 1;
    letter-spacing: -.80px;
    font-weight: $font-medium;
    margin-bottom: 2rem;
}

small {
    font-size: clamp(2rem, 12vw, 2.4rem);
    line-height: 1;
    letter-spacing: -0.71px;
    font-weight: $font-normal;
    margin-top: 6rem;

    @media only screen and (max-width: $tablet-v) {
        font-size: clamp(1.4rem, 12vw, 1.6rem);
    }
}

